@model CharacterGen5th.Models.ViewModels.DemographicViewModel

@{
    ViewBag.Title = "Stats";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
</script>

<html>
<body>

    <div id="scores">
        <table id="scoreTable" style="width:100%">
            <tr>
                <td class="width5Percent"></td>
                <td class="width10Percent">Base Score</td>
                <td class="width19Percent">Racial Mod</td>
                <td class="width19Percent">Total</td>
                <td class="width19Percent">Bonus</td>
                <td class="width19Percent">Points</td>
            </tr>

            <tr>
                <td>STR</td>
                <td>@Html.TextBox("strScore")</td>
                <td>@Html.Label("strRacialMod", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("strTotal", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("strBonus", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("strPoints", "0", new { @class = "statsLabel" })</td>
            </tr>

            <tr>
                <td>DEX</td>
                <td>@Html.TextBox("dexScore")</td>
                <td>@Html.Label("dexRacialMod", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("dexTotal", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("dexBonus", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("dexPoints", "0", new { @class = "statsLabel" })</td>
            </tr>

            <tr>
                <td>CON</td>
                <td>@Html.TextBox("conScore")</td>
                <td>@Html.Label("conRacialMod", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("conTotal", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("conBonus", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("conPoints", "0", new { @class = "statsLabel" })</td>
            </tr>

            <tr>
                <td>INT</td>
                <td>@Html.TextBox("intScore")</td>
                <td>@Html.Label("intRacialMod", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("intTotal", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("intBonus", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("intPoints", "0", new { @class = "statsLabel" })</td>
            </tr>

            <tr>
                <td>WIS</td>
                <td>@Html.TextBox("wisScore")</td>
                <td>@Html.Label("wisRacialMod", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("wisTotal", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("wisBonus", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("wisPoints", "0", new { @class = "statsLabel" })</td>
            </tr>

            <tr>
                <td>CHA</td>
                <td>@Html.TextBox("chaScore")</td>
                <td>@Html.Label("chaRacialMod", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("chaTotal", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("chaBonus", "0", new { @class = "statsLabel" })</td>
                <td>@Html.Label("chaPoints", "0", new { @class = "statsLabel" })</td>
            </tr>

            <tr>
                <td colspan="5"></td>
                <td>@Html.Label("pointBuyTotal", "20/20", new { @class = "statsLabel" })</td>
            </tr>
        </table>
</div>

        <div id="demographic">
            <label>Player Name</label><input type="text">
            <label>Character Name</label><input type="text">
            <label>Age</label><input type="text">
            
            <label>Gender</label>    
            <select>
                <option>Male</option>
                <option>Female</option>
            </select>

            <label>Height</label><input type="text">
            <label>Weight</label><input type="text">
            <label>Eyes</label><input type="text">
            <label>Hair</label><input type="text">
            <label>Skin</label><input type="text">
            <label>Wealth</label><input type="text">
        </div>


        <div>
            <div id="race">
                <span>
                    <label>Race</label>
                    <select id="raceSelection">
                        <option>Race</option>
                    </select>
                </span>
            </div>

            <div id="alignment">
                <span>
                    <label>Alignment</label>
                    <select id="alignmentSelection">
                        <option>Alignment</option>
                    </select>
                </span>

                <span>
                    <label>Diety</label>
                    <select id="DietySelection">
                        <option>Diety</option>
                    </select>
                </span>
            </div>
        </div>

</body>
</html>